body {
    background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
}
a{
    width: 100%;
    height: 100%;
}
img {
    width: 100%;
    height: 100%;
}

.shell {
    /* 先设置网格布局 */
    display: grid;
    padding: 20px;
    /* 定义网格布局中行与列之间间隙的尺寸 */
    grid-gap: 10px;
    /* 该属性规定网格布局中的列数和宽度 */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* 设置网格中行的默认尺寸 */
    grid-auto-rows: 270px;
    /* 属性控制自动放置项目在网格中的插入方式为填充 */
    grid-auto-flow: dense;
}

.shell>div {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
}

.shell span {
    color: #fff;
    font: 50 50px 'Microsoft YaHei';
    position: absolute;
    top: 10px;
    left: 20px;
    text-shadow: -3px 0 rgb(0, 0, 0), 0 -3px rgb(0, 0, 0), 3px 0 rgb(0, 0, 0), 0 3px rgb(0, 0, 0);
}

.shell .wide {
    grid-column: span 2;
}

.shell .tall {
    grid-row: span 2;
}

.shell .big {
    grid-column: span 2;
    grid-row: span 2;
}